# compiled output
/dist
/node_modules
/.env
.env
.yarn
/.yarn/
/pgdata/
/pgdata
/public/upload/*.jpg
/public/upload/*.jpeg
/public/upload/*.png
/public/upload/*.gif
/public/upload/*.txt

# Logs
*.log
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.yarn/
